body{
    margin: 0;
    font-family: Arial;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1e293b;
    color: white;
}

nav a{
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

.hero{
    text-align: center;
    padding: 100px 20px;
    background-color: #f1f5f9;
}

.hero button{
    padding: 12px 25px;
    border: none;
    background: #22c55e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.features{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.card{
    background: #e2e8f0;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}

footer{
    text-align: center;
    padding: 20px;
    background: #1e293b;
    color: white;
}